* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #101010;
  overflow: hidden;
}
@media (max-width: 900px) {
  body {
    height: auto;
    overflow-y: visible;
    overflow-x: hidden;
  }
}
body header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
}
body header .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
body header .logo {
  margin-top: 20px;
  width: 10vw;
}
@media (max-width: 900px) {
  body header .logo {
    width: 40vw;
  }
}
body header .logo img {
  width: 100%;
  height: auto;
}
body footer {
  position: absolute;
  top: 15px;
  right: 15px;
  transform-origin: center;
  font-size: 16px;
  font-family: "Monument";
  text-transform: uppercase;
  color: #ECECEC;
  z-index: 12;
}
@media (max-width: 900px) {
  body footer {
    display: none;
  }
}
body footer a {
  padding: 5px;
  margin-left: 20px;
  text-decoration: none;
  color: inherit;
}
body .preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #161616;
  z-index: 100;
}
body .videos {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100%;
}
body .videos .shop-mobile {
  margin-top: 15vw;
  font-family: Arial;
  color: #ECECEC;
  font-size: 28vw;
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: none;
}
@media (max-width: 900px) {
  body .videos .shop-mobile {
    display: block;
  }
}
body .videos .shop-mobile a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 900px) {
  body .videos {
    padding-bottom: 10vw;
    height: auto;
  }
}
body .menu {
  position: absolute;
  bottom: calc(20px - 0.33vw);
  left: 20px;
  z-index: 20;
  font-family: "Monument";
  color: #ECECEC;
  user-select: none;
}
@media (max-width: 900px) {
  body .menu {
    display: none;
  }
}
body .menu:hover li {
  opacity: 0.4;
}
body .menu ul li {
  position: relative;
  display: inline-block;
  font-size: 4.125vw;
  line-height: 4.125vw;
  list-style: none;
  text-transform: uppercase;
  transition: opacity 0.1s;
}
body .menu ul li:hover {
  cursor: pointer;
  opacity: 1 !important;
}
body .menu ul li span {
  font-family: "Snell";
  text-transform: none;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  font-size: 1.5vw;
  line-height: 1.5vw;
  margin-top: 0.45vw;
  transform: translateX(110%);
}
@media (max-width: 900px) {
  body .vitaly1 {
    margin-left: 5vw;
    margin-top: 20vw;
  }
}
@media (max-width: 900px) {
  body .vitaly2 {
    margin-left: 5vw;
    margin-top: 15vw;
  }
}
@media (max-width: 900px) {
  body .vitaly3 {
    margin-left: 5vw;
    margin-top: 15vw;
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  body .vitaly4 {
    margin-left: 5vw;
    margin-top: 15vw;
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  body .vitaly5 {
    margin-left: 5vw;
    margin-top: 15vw;
    margin-bottom: 0;
    margin-right: 0;
  }
}
body .video {
  bottom: 20px;
  right: 20px;
  position: absolute;
  z-index: 26;
  width: 21vw;
  height: 21vw;
  display: none;
}
@media (max-width: 900px) {
  body .video {
    bottom: 0;
    right: 0;
    position: relative;
    width: 90vw;
    height: 90vw;
    display: block;
  }
}
body .video:hover {
  cursor: pointer;
}
body .video:hover .video-thumbnail {
  opacity: 0;
}
body .video:hover .video-title {
  opacity: 1;
}
body .video-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
body .video-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform: scale(1.1);
  opacity: 1;
  transition: opacity 0.4s;
  z-index: 10;
}
body .video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .video-player {
  position: absolute;
  width: 100%;
  height: 100%;
}
body .video-player video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .video-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 11px;
  font-family: "Monument";
  text-transform: uppercase;
  color: #ECECEC;
  opacity: 0;
  transition: opacity 0.4s;
  display: none;
}
@media (max-width: 900px) {
  body .video-title {
    display: flex;
    opacity: 1;
  }
}
body .video-title span {
  display: block;
}
body .players {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
body .player {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 25;
}
body .player-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 14;
}
body .player-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #101010;
  z-index: 11;
}
body .player .wrapper {
  width: 40vw;
}
@media (max-width: 900px) {
  body .player .wrapper {
    width: 90vw;
  }
}
body .player .close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  font-size: 52px;
  font-family: "Monument";
  color: #ECECEC;
  text-transform: uppercase;
  overflow: hidden;
}
@media (max-width: 900px) {
  body .player .close {
    right: 50%;
    transform: translateX(calc(50% + 5px));
  }
}
body .player .close span {
  display: block;
}
body .player .close:hover {
  cursor: pointer;
}
body .player-video {
  width: 40vw;
  height: 40vw;
  position: relative;
  overflow: hidden;
}
@media (max-width: 900px) {
  body .player-video {
    width: 90vw;
    height: 90vw;
  }
}
body .player-video .tap {
  position: absolute;
  z-index: 18;
  width: 100%;
  text-align: center;
  font-family: "Monument";
  color: #E5E5E5;
  font-size: 24px;
  margin-top: 45vw;
  display: none;
}
@media (max-width: 900px) {
  body .player-video .tap {
    display: block;
  }
}
body .player-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .player-video:hover {
  cursor: pointer;
}
body .player-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 12px;
  font-family: "Monument";
  text-transform: uppercase;
  color: #ECECEC;
  overflow: hidden;
}
body .player-content span {
  display: block;
}

/*# sourceMappingURL=/style.6d80b553.css.map */