@mixin mobile {
  @media (max-width: 900px) { @content; }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}

$main: #787878;
$bg: #EDEDED;

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: $bg;
  overflow: hidden;

  @include mobile {
    height: auto;
    overflow-y: visible;
    overflow-x: hidden;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;

    .wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .logo {
      font-family: Arial;
      color: $main;
      font-size: 10px;
      margin-top: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 52px;
    font-family: Arial;
    text-transform: uppercase;
    color: $main;
    z-index: 12;

    @include mobile {
      display: none;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #E0E0E0;
    z-index: 100;
  }

  .videos {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100%;

    .shop-mobile {
      margin-top: 15vw;
      font-family: Arial;
      color: $main;
      font-size: 28vw;
      width: 100%;
      text-align: center;
      display: none;

      @include mobile {
        display: block;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    @include mobile {
      height: auto;
    }
  }

  .vitaly1 {
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 7.5vw;
    width: 20vw;
    height: 30vw;

    @include mobile {
      margin-left: 5vw;
      margin-top: 112px;
    }
  }

  .vitaly2 {
    bottom: 0;
    left: 0;
    margin-left: 12vw;
    margin-bottom: 10vw;
    width: 15vw;
    height: 15vw;

    @include mobile {
      margin-left: 5vw;
      margin-top: 15vw;
      margin-bottom: 0;
    }
  }

  .vitaly3 {
    top: 0;
    right: 0;
    margin-right: 15.5vw;
    margin-top: 20px;
    width: 15vw;
    height: 15vw;

    @include mobile {
      margin-left: 5vw;
      margin-top: 15vw;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  .vitaly4 {
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 13vw;
    width: 20vw;
    height: 30vw;

    @include mobile {
      margin-left: 5vw;
      margin-top: 15vw;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  .vitaly5 {
    bottom: 0;
    left: 0;
    margin-left: 35vw;
    margin-bottom: 37px;
    width: 17vw;
    height: 17vw;

    @include mobile {
      margin-left: 5vw;
      margin-top: 15vw;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  .video {
    position: absolute;
    z-index: 5;

    @include mobile {
      position: relative;
      width: 90vw;
      height: 90vw;
    }

    &:hover {
      cursor: pointer;
      .video-thumbnail {
        opacity: 0;
      }

      .video-title {
        opacity: 1;
      }
    }

    &-content {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    &-thumbnail {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform: scale(1.1);
      opacity: 1;
      transition: opacity 0.4s;
      z-index: 10;

      img {
        filter: grayscale(100%);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-player {
      position: absolute;
      width: 100%;
      height: 100%;

      video {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 5px;
      font-size: 11px;
      font-family: Arial;
      text-transform: uppercase;
      color: $main;
      opacity: 0;
      transition: opacity 0.4s;

      @include mobile {
        opacity: 1;
      }

      span {
        display: block;
      }
    }
  }

  .players {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;  
  }

  .player {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 12;

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 14;
    }

    &-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #0F0F0F;
      z-index: 11;
    }

    .wrapper {
      width: 40vw;

      @include mobile {
        width: 90vw;
      }
    }

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 5px;
      font-size: 52px;
      font-family: Arial;
      color: #E5E5E5;
      text-transform: uppercase;
      overflow: hidden;

      @include mobile {
        right: 50%;
        transform: translateX(calc(50% + 5px));
      }

      span {
        display: block;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &-video {
      width: 40vw;
      height: 40vw;
      position: relative;
      overflow: hidden;

      @include mobile {
        width: 90vw;
        height: 90vw;
      }

      .tap {
        position: absolute;
        z-index: 18;
        width: 100%;
        text-align: center;
        font-family: Arial;
        color: #E5E5E5;
        font-size: 24px;
        margin-top: 45vw;
        display: none;

        @include mobile {
          display: block;
        }
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-top: 10px;
      font-size: 12px;
      font-family: Arial;
      text-transform: uppercase;
      color: #E5E5E5;
      overflow: hidden;

      span {
        display: block;
      }
    }
  }
}
